<html>
    <head>
        
    </head>
    <body>
        <h1>This is a form page</h1>
        <form action='/submit' method = 'post'>
            <textarea cols="30" rows="10" input type = 'text' name = 'user_data' placeholder = 'input_data' required = 'required'></textarea>
            <p>Choose your language:</p>
            <input type="radio" id="Gujarati" name="language" value="Gujarati">
            <label for="Gujarati">Gujarati</label><br>
            <input type="radio" id="Marathi" name='language' value="Marathi">
            <label for="Marathi">Marathi</label><br>
            <input type="radio" id="Hindi" name='language'  value="Hindi">
            <label for="Hindi">Hindi</label><br>
            <input type="radio" id="Kannada" name='language'  value="Kannada">
            <label for="Kannada">Kannada</label><br>
            <input type="radio" id="German"  name='language' value="German">
            <label for="German">German</label><br><br>
            




             <button type = 'submit'>Predict</button>
        </form>
    </body>
</html>










               
                         
                         
                       
                      
        